
<p>dashboard works!!!</p>


<mat-tab-group>
    <mat-tab label="Home"> 
        <img mat-card-image src = "./assets/images/eahd.jpg" alt="cannot display" height="500" width="400"  >
               
        </mat-tab>
    <mat-tab label="Stats"> 
       <img mat-card-image src="./assets/images/fifa.jpg" alt="cannot display" height="500" width="400">
     </mat-tab>
    <mat-tab label="NewsUpdates"> Content 3
            <img mat-card-image src="./assets/images/echampions.jpg" alt="cannot display" height="500" width="400">    
    
    </mat-tab>
  </mat-tab-group>

  
  <mat-card >
           <h1 >
               Featuring the Five MCS Belt Winners
           </h1>
           <div class = "mcswinners">
           <h2><strong>Drini Gjoka</strong></h2>
            </div>
        
             <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="easports"style ="margin-width:1200px;margin-top:100px;">
        <div class="w3-quarter">
          <img src="./assets/images/drini.jpg" alt="Sandwich" style="width:100%">
          <h3>
                2018 Challenge Champion 
                2018 Broncos Club Champion
                2019 Dallas Cowboys Club Champion </h3>
          <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="./assets/images/canespowell.jpg" alt="Steak" style="width:100%">
          <h3>Let Me Tell You About This Steak</h3>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/assets/images/gosspall.jpg" alt="Cherries" style="width:100%">
          <h3>Cherries, interrupted</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          <p>What else?</p>
        </div>
        <div class="w3-quarter">
          <img src="/assets/images/mattclark.jpg" alt="Pasta and Wine" style="width:100%">
          <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      
    
   </div>
    
        

  </mat-card>    